.panel {
    border: 1px solid #707070;
    padding: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
margin-bottom:15px;
margin-right: 15px;
width : 455px;
height:450px
  }
  
  .panel .titlePanel {
    font-size: 16px;
    font-weight: 400;
    margin: 10px;
  }
  
  .panel .echarts-for-react  {
    flex: 1;
    padding-bottom :25px;
  }


  /* vdt tree dashboard styles */
  .tree-chart {
    margin: 15px 0;
    border: 1px solid #707070;
    padding: 5px;
    margin-top: 10px;
    
  }

  .tree-chart .tree-container {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .tree-chart .panel {
    border: none;
    margin: 0;
    height: 650px;
  }

  .tree-chart .panel .echarts-for-react {
    padding-bottom: 0;
  }

  .displayTip {
    font-size: x-small;
    text-align: center;
  }