.add-account-container .labelH5 {
    margin-right: 0;
    margin-bottom: 0;
    padding-top: 6px;
}
#addClentMaster .inputForm
{
    margin-left: 61px;
   

}
#addClentMaster .buttondiv
{
    margin-top:27px ;
}
