
 .inputPasswordText
{
    border-right: none !important;
    box-shadow: none !important;
}
 



 .mainTitle {
    height: 20px;
    margin-top: 34px;
    margin-bottom: 20px;
    top: 283px;
    font-family: 'Graphik';
font-style: normal;
font-weight: normal;

color: #FFFFFF;
 }

.pwdInstructions {
   
   width :max-content;
    color : #FFFFFF;
    border :2px dashed #FFFFFF;
    height :max-content;
    padding:10px 25px 10px 30px;
     border-radius :3px;
     opacity: 0.6;
}

.valid {
    color: #FFFFFF;
    line-height: 35px;
  }
  
  .valid:before {
    position: relative;
    left: -10px;
    content: url(../../assets/home/right-mark.svg);
  }
  
  
  .invalid {
    color: #FFFFFF;
    line-height: 35px;
    content: "✖";
  }

  
  
  .invalid:before {
    position: relative;
    left: -10px;
    content: url(../../assets/home/info-small.svg);
  }

