.timeLine-main-header-viewPort {
    width: 100%;
    height: 45px;
    position: relative;
}

.timeLine-main-header-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;    
    font-size: 10px;
    background: #505050 !important;
    border-right: 1px solid #909090;
}
